In [19]:
import pandas as pd # untuk melakukan extract data, load

# EXTRACT

## Create data dummy

In [2]:
from faker import Faker
import random
import pandas as pd

# Konfigurasi Faker
fake = Faker('id_ID')

# Jumlah data yang akan di-generate
num_records = 150

# Function untuk generate data berdasarkan skema tabel
def generate_data(num_records, table_name):
    data = []
    if table_name == 'reports':
        report_types = ['rubbish', 'littering']
        waste_types = {
            'rubbish': ['sampah basah', 'sampah kering', 'sampah basah, sampah kering'],
            'littering': ['organik', 'anorganik', 'berbahaya']
        }
        status_types = ['need review', 'approve', 'reject']
        
        for _ in range(num_records):
            report_type = random.choice(report_types)
            waste_type = random.choice(waste_types[report_type])
            
            data.append({
                'id': fake.uuid4(),
                'report_type': report_type,
                'waste_type': waste_type,
                'title': fake.sentence(nb_words=6),
                'description': fake.text(),
                'status': random.choice(status_types),
                'reason': fake.text(),
                'created_at': fake.date_time(),
                'updated_at': fake.date_time(),
                'deleted_at': fake.date_time_this_year(before_now=True, after_now=False)
            })
    elif table_name == 'location_reports':
        for _ in range(num_records):
            data.append({
                'id': fake.random_int(min=1, max=10000),
                'longtitude': fake.longitude(),
                'langtitude': fake.latitude(),
                'address': fake.address(),
                'city': fake.city(),
                'province': fake.state()
            })
    elif table_name == 'users':
        genders = ['laki-laki', 'perempuan']
        badges = ['bronze', 'silver', 'gold', 'platinum']
        for _ in range(num_records):
            data.append({
                'id': fake.random_int(min=1, max=10000),
                'name': fake.name(),
                'email': fake.email(),
                'phone_number': fake.random_number(digits=16, fix_len=True),
                'point': fake.random_int(min=0, max=1000),
                'gender': random.choice(genders),
                'birth_date': fake.date_of_birth(),
                'address': fake.address(),
                'badge': random.choice(badges),
                'created_at': fake.date_time(),
                'updated_at': fake.date_time(),
                'deleted_at': fake.date_time_this_year(before_now=True, after_now=False)
            })
    elif table_name == 'waste_materials':
        material_types = ['plastik', 'kaca', 'kayu', 'kertas', 'baterai', 'besi', 'limbah berbahaya', 'limbah beracun', 'sisa makanan', 'tak terdeteksi']
        for _ in range(num_records):
            data.append({
                'id': fake.uuid4(),
                'type': random.choice(material_types),
                'created_at': fake.date_time(),
                'updated_at': fake.date_time(),
                'deleted_at': fake.date_time_this_year(before_now=True, after_now=False)
            })
    elif table_name == 'task_users_challange':
        status_types = ['need review', 'approve', 'reject']
        for _ in range(num_records):
            data.append({
                'id': fake.random_int(min=1, max=10000),
                'status': random.choice(status_types),
                'created_at': fake.date_time(),
                'updated_at': fake.date_time()
            })
    elif table_name == 'task_challange':
        for _ in range(num_records):
            data.append({
                'id': fake.random_int(min=1, max=10000),
                'title': fake.sentence(nb_words=6),
                'description': fake.text(max_nb_chars=255),
                'point': fake.random_int(min=0, max=1000),
                'start_date': fake.date_time(),
                'end_date': fake.date_time(),
                'status': fake.boolean(),
                'created_at': fake.date_time(),
                'updated_at': fake.date_time()
            })
    elif table_name == 'task_steps':
        for _ in range(num_records):
            data.append({
                'id': fake.random_int(min=1, max=10000),
                'title': fake.sentence(nb_words=6),
                'description': fake.text(max_nb_chars=255),
                'created_at': fake.date_time(),
                'updated_at': fake.date_time()
            })
    elif table_name == 'admins':
        roles = ['admin', 'super_admin']
        for _ in range(num_records):
            data.append({
                'id': fake.random_int(min=1, max=10000),
                'name': fake.name(),
                'role': random.choice(roles),
                'created_at': fake.date_time(),
                'updated_at': fake.date_time(),
                'deleted_at': fake.date_time_this_year(before_now=True, after_now=False)
            })
    elif table_name == 'contents':
        for _ in range(num_records):
            data.append({
                'id': fake.random_int(min=1, max=10000),
                'title_content': fake.sentence(nb_words=6),
                'description': fake.text(),
                'created_at': fake.date_time(),
                'updated_at': fake.date_time()
            })
    elif table_name == 'categories':
        for _ in range(num_records):
            data.append({
                'id': fake.random_int(min=1, max=10000),
                'name': fake.word(),
                'created_at': fake.date_time(),
                'updated_at': fake.date_time()
            })
    return data

# Function untuk generate data untuk tabel fakta
def generate_fact_data(num_records, fact_table_name, dimensions):
    data = []
    if fact_table_name == 'fact_reporting':
        for _ in range(num_records):
            data.append({
                'id': fake.random_int(min=1, max=10000),
                'users_id': random.choice(dimensions['users']['id'].values),
                'reports_id': random.choice(dimensions['reports']['id'].values),
                'waste_materials_id': random.choice(dimensions['waste_materials']['id'].values),
                'location_reports_id': random.choice(dimensions['location_reports']['id'].values),
                'count_reporting': fake.random_int(min=1, max=100)
            })
    elif fact_table_name == 'fact_challange':
        for _ in range(num_records):
            data.append({
                'id': fake.random_int(min=1, max=10000),
                'users_id': random.choice(dimensions['users']['id'].values),
                'task_users_challange_id': random.choice(dimensions['task_users_challange']['id'].values),
                'task_steps_id': random.choice(dimensions['task_steps']['id'].values),
                'task_challange_id': random.choice(dimensions['task_challange']['id'].values),
                'admins_id': random.choice(dimensions['admins']['id'].values),
                'count_challange': fake.random_int(min=1, max=100)
            })
    elif fact_table_name == 'fact_conten':
        for _ in range(num_records):
            data.append({
                'id': fake.random_int(min=1, max=10000),
                'contents_id': random.choice(dimensions['contents']['id'].values),
                'categories_id': random.choice(dimensions['categories']['id'].values),
                'admins_id': random.choice(dimensions['admins']['id'].values),
                'count_conten': fake.random_int(min=1, max=100)
            })
    return data

# Generate dan simpan data ke CSV untuk setiap tabel dimensi
tables = [
    'reports', 'location_reports', 'users', 'waste_materials', 'task_users_challange',
    'task_challange', 'task_steps', 'admins', 'contents', 'categories'
]

for table in tables:
    df = pd.DataFrame(generate_data(num_records, table))
    df.to_csv(f'data_dummy/{table}.csv', index=False)

# Baca data dimensi dari file CSV yang sudah dibuat sebelumnya
dimensions = {}
for table in tables:
    dimensions[table] = pd.read_csv(f'data_dummy/{table}.csv')

# Generate dan simpan data ke CSV untuk tabel fakta
fact_tables = ['fact_reporting', 'fact_challange', 'fact_conten']
for fact_table in fact_tables:
    df = pd.DataFrame(generate_fact_data(num_records, fact_table, dimensions))
    df.to_csv(f'data_dummy/{fact_table}.csv', index=False)
print("Data successfully created")

Data successfully created

## Extract data from database back end

In [10]:
import mysql.connector
from dotenv import load_dotenv
import os

load_dotenv()

def extract_all_tables_to_csv(output_folder):
    try:
        with mysql.connector.connect(
            host=os.getenv("host"),
            port="3306",
            user="root",
            password=os.getenv("password"),
            database="recything_db"
        ) as conn:
            cursor = conn.cursor()
            cursor.execute("SHOW TABLES")
            tables = cursor.fetchall()
            for table in tables:
                table_name = table[0]
                query = f"SELECT * FROM {table_name}"
                df = pd.read_sql(query, conn)
                file_path = f"{output_folder}/{table_name}.csv"
                df.to_csv(file_path, index=False)
            print("Data extraction completed successfully")
    except mysql.connector.Error as err:
        print(f"Error: {err}")

extract_all_tables_to_csv("data_database")

C:\Users\yazid\AppData\Local\Temp\ipykernel_12448\2175763943.py:24: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)
C:\Users\yazid\AppData\Local\Temp\ipykernel_12448\2175763943.py:24: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)
C:\Users\yazid\AppData\Local\Temp\ipykernel_12448\2175763943.py:24: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

Data extraction completed successfully

### Table about_us_images

In [38]:
df_about_us_images = pd.read_csv("data_database/about_us_images.csv")
df_about_us_images.head()

,id,about_us_id,image_url,created_at,updated_at,deleted_at
0,ABSI01,ABS01,https://res.cloudinary.com/dlbbsdd3a/image/upl...,2024-06-07 17:08:07.095,2024-06-07 17:08:07.095,NaN
1,ABSI02,ABS05,https://res.cloudinary.com/dlbbsdd3a/image/upl...,2024-06-07 17:08:07.099,2024-06-07 17:08:07.099,NaN
2,ABSI03,ABS05,https://res.cloudinary.com/dlbbsdd3a/image/upl...,2024-06-07 17:08:07.105,2024-06-07 17:08:07.105,NaN
3,ABSI04,ABS06,https://res.cloudinary.com/dlbbsdd3a/image/upl...,2024-06-07 17:08:07.109,2024-06-07 17:08:07.109,NaN
4,ABSI05,ABS06,https://res.cloudinary.com/dlbbsdd3a/image/upl...,2024-06-07 17:08:07.113,2024-06-07 17:08:07.113,NaN

### Table about_us

In [39]:
df_about_us = pd.read_csv("data_database/about_us.csv")
df_about_us.head()

,id,category,title,description,created_at,updated_at,deleted_at
0,ABS01,perusahaan,Tentang siapa kami,RecyThing adalah pemimpin di industri daur ula...,2024-06-07 17:08:07.031,2024-06-07 17:08:07.031,NaN
1,ABS02,perusahaan,Visi Kami,Menciptakan masyarakat yang sadar lingkungan d...,2024-06-07 17:08:07.035,2024-06-07 17:08:07.035,NaN
2,ABS03,perusahaan,Komitmen Kami,Prioritaskan penggunaan teknologi terbaru dan ...,2024-06-07 17:08:07.039,2024-06-07 17:08:07.039,NaN
3,ABS04,perusahaan,Pelayanan Pelanggan Unggul,Tim ahli yang berpengalaman memberikan solusi ...,2024-06-07 17:08:07.043,2024-06-07 17:08:07.043,NaN
4,ABS05,perusahaan,Pendidikan Masyarakat,Berperan aktif dalam mendidik masyarakat tenta...,2024-06-07 17:08:07.049,2024-06-07 17:08:07.049,NaN

### Table achievements

In [40]:
df_achievements = pd.read_csv("data_database/achievements.csv")
df_achievements.head()

,id,level,target_point,badge_url,created_at,updated_at,deleted_at
0,1,classic,0,https://res.cloudinary.com/dymhvau8n/image/upl...,2024-06-07 17:08:06.989,2024-06-07 17:08:06.989,NaN
1,2,silver,50000,https://res.cloudinary.com/dymhvau8n/image/upl...,2024-06-07 17:08:06.994,2024-06-07 17:08:06.994,NaN
2,3,gold,150000,https://res.cloudinary.com/dymhvau8n/image/upl...,2024-06-07 17:08:06.998,2024-06-07 17:08:06.998,NaN
3,4,platinum,300000,https://res.cloudinary.com/dymhvau8n/image/upl...,2024-06-07 17:08:07.002,2024-06-07 17:08:07.002,NaN

### Table admins

In [41]:
df_admins = pd.read_csv("data_database/admins.csv")
df_admins.head()

,id,name,email,password,role,image_url,created_at,updated_at,deleted_at
0,AD0001,John Doe,john.doe.srr@gmail.com,$2a$12$7o/CM96tBzAGroIgLvueCePt9ZBRYhsVsURay2q...,super admin,https://res.cloudinary.com/dlbbsdd3a/image/upl...,2024-06-06 17:40:09.996,2024-06-08 12:22:49.634,NaN
1,AD0002,John Bala Edit,john.bala@gmail.com,$2a$12$yMaF1TuN6Uke32ppEnefaupbEhlRmwAy4ZLtTH8...,admin,https://res.cloudinary.com/dlbbsdd3a/image/upl...,2024-06-08 12:44:11.566,2024-06-08 12:47:05.922,NaN
2,AD0003,John Bala Bala,john.bala.bala@gmail.com,$2a$12$6l7TpftGEdvpsCWO0ULq2uzQb9RQ10/EIa3fUS8...,admin,https://res.cloudinary.com/dlbbsdd3a/image/upl...,2024-06-08 12:49:52.066,2024-06-08 19:12:23.082,2024-06-08 19:23:47.000
3,AD0004,John Bala Balada,john.bala.balada@gmail.com,$2a$12$Xa0Fk8Fnw3Shqp8PB4xX.urzHfKIaj30BhqK2QU...,admin,https://res.cloudinary.com/dlbbsdd3a/image/upl...,2024-06-08 13:19:31.120,2024-06-08 13:19:31.120,2024-06-08 13:30:28.712
4,AD0005,John Bala Balada,john.bala.balada@gmail.com,$2a$12$5T.2Fgw.n15ZiyVYsenK5OuY389nKR/92Chv5Sy...,admin,https://res.cloudinary.com/dlbbsdd3a/image/upl...,2024-06-08 17:41:57.169,2024-06-08 17:41:57.169,2024-06-08 19:23:30.525

### Table comments

In [42]:
df_comments = pd.read_csv("data_database/comments.csv")
df_comments.head()

Empty DataFrame
Columns: [id, video_id, user_id, comment, created_at, updated_at, deleted_at]
Index: []

### Table custom_data

In [43]:
df_custom_data = pd.read_csv("data_database/custom_data.csv")
df_custom_data.head()

,id,topic,description,created_at,updated_at,deleted_at
0,CDT0001,Daur Ulang Plastik,Proses daur ulang plastik melibatkan pengumpul...,2024-06-06 17:40:10.150,2024-06-06 17:40:10.150,NaN
1,CDT0002,Pemanfaatan Sampah Organik,Sampah organik seperti sisa makanan dan daun d...,2024-06-06 17:40:10.154,2024-06-06 17:40:10.154,NaN
2,CDT0003,Pengelolaan Sampah Elektronik,"Sampah elektronik seperti ponsel lama, kompute...",2024-06-06 17:40:10.160,2024-06-06 17:40:10.160,NaN
3,CDT0004,Kompetisi Pengurangan Sampah,Kompetisi ini mengajak masyarakat untuk mengur...,2024-06-06 17:40:10.164,2024-06-06 17:40:10.164,NaN
4,CDT0005,Melaporkan Sampah yang Tidak pada Tempatnya,Pengguna aplikasi dapat melaporkan sampah yang...,2024-06-06 17:40:10.168,2024-06-06 17:40:10.168,NaN

### Table faqs

In [44]:
df_faqs = pd.read_csv("data_database/faqs.csv")
df_faqs.head()

,id,category,question,answer,created_at,updated_at,deleted_at
0,FAQ01,profil,Bagaimana cara saya memperbarui informasi prof...,Anda dapat memperbarui informasi profil Anda m...,2024-06-06 17:40:10.058,2024-06-06 17:40:10.058,NaN
1,FAQ02,profil,Apakah saya bisa mengubah alamat email yang su...,"Ya, Anda bisa mengubah alamat email Anda melal...",2024-06-06 17:40:10.064,2024-06-06 17:40:10.064,NaN
2,FAQ03,profil,Bagaimana cara mengganti foto profil saya?,"Untuk mengganti foto profil, buka 'Profil Saya...",2024-06-06 17:40:10.069,2024-06-06 17:40:10.069,NaN
3,FAQ04,littering,Bagaimana cara melaporkan sampah yang tidak pa...,Anda dapat melaporkan sampah yang tidak pada t...,2024-06-06 17:40:10.073,2024-06-06 17:40:10.073,NaN
4,FAQ05,littering,Apakah ada sanksi bagi yang membuang sampah se...,"Ya, sesuai dengan peraturan daerah, membuang s...",2024-06-06 17:40:10.076,2024-06-06 17:40:10.076,NaN

### Table report_images

In [45]:
df_report_images = pd.read_csv("data_database/report_images.csv")
df_report_images.head()

,id,report_id,image_url,created_at,updated_at,deleted_at
0,11309862-a23b-457f-b293-9b4b32c69568,RPT0010,https://res.cloudinary.com/dlbbsdd3a/image/upl...,2024-06-08 16:03:28.849,2024-06-08 16:03:28.849,NaN
1,2332a306-ac6b-416a-b909-58099b387c1b,RPT0039,https://res.cloudinary.com/dlbbsdd3a/image/upl...,2024-06-09 15:50:00.545,2024-06-09 15:50:00.545,NaN
2,38de6e05-8f99-42b3-acb7-551891d2ada0,RPT0019,https://res.cloudinary.com/dlbbsdd3a/image/upl...,2024-06-08 17:07:00.182,2024-06-08 17:07:00.182,NaN
3,3dc31101-a71c-4373-ae7b-51a0e1dfad8b,RPT0026,https://res.cloudinary.com/dlbbsdd3a/image/upl...,2024-06-08 21:08:23.971,2024-06-08 21:08:23.971,NaN
4,45cf0d97-49c1-4400-90be-a48efe3dddc9,RPT0021,https://res.cloudinary.com/dlbbsdd3a/image/upl...,2024-06-08 17:10:18.692,2024-06-08 17:10:18.692,NaN

### Table report_waste_materials

In [46]:
df_report_waste_materials = pd.read_csv("data_database/report_waste_materials.csv")
df_report_waste_materials.head()

,id,report_id,waste_material_id,created_at,updated_at,deleted_at
0,002ddf7b-3a06-4d35-a0a7-cc07c5ea748a,RPT0054,MTR01,2024-06-10 09:08:38.363,2024-06-10 09:08:38.363,NaN
1,019f6c2d-cef9-426a-aad2-cfc7099468a0,RPT0041,MTR04,2024-06-09 16:07:44.459,2024-06-09 16:07:44.459,NaN
2,03a39185-c88b-47a0-bae3-2c2f6692add9,RPT0037,MTR03,2024-06-09 15:45:15.805,2024-06-09 15:45:15.805,NaN
3,093198c9-ca36-4dad-9090-0021a5637827,RPT0053,MTR01,2024-06-10 09:06:31.030,2024-06-10 09:06:31.030,NaN
4,13907c4d-4b1f-4d35-a77e-bc7b96792bbf,RPT0064,MTR01,2024-06-10 10:03:36.855,2024-06-10 10:03:36.855,NaN

### Table reports

In [47]:
df_reports = pd.read_csv("data_database/reports.csv")
df_reports.head()

,id,author_id,report_type,title,description,waste_type,latitude,longitude,address,city,province,status,reason,created_at,updated_at,deleted_at
0,RPT0001,USR0009,littering,Test Judul,Test Description,organik,-6.1754,106.8272,Jl. Sudirman,Jakarta,DKI Jakarta,approve,NaN,2024-06-08 14:36:47.467,2024-06-10 07:18:08.547,NaN
1,RPT0002,USR0009,littering,Test Judul,Test Description,organik,-6.1754,106.8272,Jl. Sudirman,Jakarta,DKI Jakarta,reject,Laporan sampah kamu dianggap tidak sesuai dan ...,2024-06-08 14:37:17.021,2024-06-10 07:18:08.776,NaN
2,RPT0003,USR0009,littering,Test Judul,Test Description,organik,-6.1754,106.8272,Jl. Sudirman,Jakarta,DKI Jakarta,need review,NaN,2024-06-08 14:51:46.866,2024-06-08 14:51:46.866,NaN
3,RPT0004,USR0009,littering,Test Judul,Test Description,organik,-6.1754,106.8272,Jl. Sudirman,Jakarta,DKI Jakarta,need review,NaN,2024-06-08 15:02:18.049,2024-06-08 15:02:18.049,NaN
4,RPT0005,USR0009,NaN,Test Judul,Test Description,organik,-6.1754,106.8272,Jl. Sudirman,Jakarta,DKI Jakarta,need review,NaN,2024-06-08 15:06:34.460,2024-06-08 15:06:34.460,NaN

### Table task_challenges

In [48]:
df_task_challenges = pd.read_csv("data_database/task_challenges.csv")
df_task_challenges.head()

,id,title,description,thumbnail,start_date,end_date,point,status,admin_id,created_at,updated_at,deleted_at
0,TM0001,Challenge 1,Description for Challenge 1,thumbnail1.jpg,2024-06-07 17:08:06.946,2024-07-07 17:08:06.946,1000,1,AD0001,2024-06-07 17:08:06.947,2024-06-07 17:08:06.947,NaN
1,TM0002,Challenge 2,Description for Challenge 2,thumbnail2.jpg,2024-06-07 17:08:06.946,2024-07-07 17:08:06.946,200,1,AD0001,2024-06-07 17:08:06.952,2024-06-07 17:08:06.952,NaN
2,TM0003,New Task,New Task description,https://res.cloudinary.com/dlbbsdd3a/image/upl...,2024-06-04 00:00:00.000,2024-07-04 00:00:00.000,100,1,AD0001,2024-06-08 15:27:30.922,2024-06-08 15:27:30.922,NaN
3,TM0004,New Task Update new update lagi hehe,New Task description,https://res.cloudinary.com/dlbbsdd3a/image/upl...,2024-06-04 00:00:00.000,2024-07-04 00:00:00.000,100,1,AD0001,2024-06-09 16:08:47.288,2024-06-09 16:11:13.621,NaN
4,TM0005,New Task Update new,New Task description,https://res.cloudinary.com/dlbbsdd3a/image/upl...,2024-06-04 00:00:00.000,2024-07-04 00:00:00.000,100,1,AD0001,2024-06-09 16:23:39.090,2024-06-09 16:23:39.090,NaN

### Table task_steps

In [49]:
df_task_steps = pd.read_csv("data_database/task_steps.csv")
df_task_steps.head()

,id,task_challenge_id,title,description,created_at,updated_at,deleted_at
0,1,TM0001,Step 1,Description for Step 1,2024-06-07 17:08:06.959,2024-06-07 17:08:06.959,NaN
1,2,TM0001,Step 2,Description for Step 2,2024-06-07 17:08:06.963,2024-06-07 17:08:06.963,NaN
2,3,TM0001,Step 3,Description for Step 3,2024-06-07 17:08:06.967,2024-06-07 17:08:06.967,NaN
3,4,TM0002,Step 1,Description for Step 1,2024-06-07 17:08:06.975,2024-06-07 17:08:06.975,NaN
4,5,TM0002,Step 2,Description for Step 2,2024-06-07 17:08:06.978,2024-06-07 17:08:06.978,NaN

### Table user_task_challenges

In [50]:
df_user_task_challenges = pd.read_csv("data_database/user_task_challenges.csv")
df_user_task_challenges.head()

,id,user_id,task_challenge_id,status_progress,status_accept,description_image,point,reason,accepted_at,created_at,updated_at,deleted_at
0,UT0001,USR0004,TM0001,in_progress,need_rivew,NaN,0,NaN,2024-06-11 18:49:24,2024-06-11 18:49:24.164,2024-06-11 18:49:24.164,NaN

### Table user_task_images

In [51]:
df_user_task_images = pd.read_csv("data_database/user_task_images.csv")
df_user_task_images.head()

Empty DataFrame
Columns: [id, user_task_challenge_id, image_url, created_at, updated_at, deleted_at]
Index: []

### Table users

In [52]:
df_users = pd.read_csv("data_database/users.csv")
df_users.head()

,id,name,email,password,point,gender,birth_date,address,picture_url,otp,is_verified,badge,created_at,updated_at,deleted_at
0,USR0001,John Doe,john.doe@gmail.com,$2a$12$/hSZjuxMTwDVkeiX0/XsmuBZ4h4UTB6puaj7Rc7...,0,-,NaN,NaN,NaN,477599,1,classic,2024-06-06 17:49:01.750,2024-06-06 18:24:36.989,NaN
1,USR0002,John Halim,john.halim@gmail.com,$2a$12$ClJ2qM9WxVDvCHLMMogTZO5XgHgNl3h1/Gdjs83...,0,-,NaN,NaN,NaN,480784,0,classic,2024-06-06 18:12:44.098,2024-06-06 18:12:44.098,NaN
2,USR0003,John Joko,john.joko@gmail.com,$2a$12$wHGpv31wn6vRcoZ1wHAddOWxUmdrAApkXzxxQ7M...,0,-,NaN,NaN,NaN,360410,0,classic,2024-06-06 18:23:26.878,2024-06-06 18:23:26.878,NaN
3,USR0004,aflah12,lipchyant@gmail.com,$2a$12$SGVZaBTV89/k1hwM3pXF1OOwj5DQze8uIameHE3...,0,perempuan,2024-06-12,1.241241e+16,NaN,33501,1,classic,2024-06-07 00:36:58.077,2024-06-12 11:46:25.144,NaN
4,USR0005,Test,ardelia.yudiva@gmail.com,$2a$12$NBj2V/e2Mp1EOPeqQaAeH..pi2q0w49QOx4K7xN...,0,-,NaN,NaN,NaN,988032,0,classic,2024-06-07 08:36:17.021,2024-06-07 08:36:17.021,2024-06-11 14:13:41.084

### Table video_categories

In [53]:
df_video_categories = pd.read_csv("data_database/video_categories.csv")
df_video_categories.head()

,id,name,created_at,updated_at,deleted_at
0,1,Tips,2024-06-07 17:08:07.007,2024-06-07 17:08:07.007,NaN
1,2,Daur Ulang,2024-06-07 17:08:07.011,2024-06-07 17:08:07.011,NaN
2,3,Tutorial,2024-06-07 17:08:07.015,2024-06-07 17:08:07.015,NaN
3,4,Edukasi,2024-06-07 17:08:07.019,2024-06-07 17:08:07.019,NaN
4,5,Kampanye,2024-06-07 17:08:07.022,2024-06-07 17:08:07.022,NaN

### Table videos

In [54]:
df_videos = pd.read_csv("data_database/videos.csv")
df_videos.head()

,id,title,description,thumbnail,link,viewer,video_category_id,created_at,updated_at,deleted_at
0,1,Daur Ulang,Tips Daur Ulang,NaN,https://www.youtube.com/watch?v=MJd3bo_XRaU,138617,1,2024-06-07 17:08:07.166,2024-06-12 11:34:12.175,NaN
1,2,Tutorial Bernapas,Tutorial Bernapas Bagi Pemula,NaN,https://www.youtube.com/watch?v=jp5uhrdhsKI,978823,3,2024-06-07 17:08:07.172,2024-06-12 11:34:11.953,NaN
2,3,lah update,Video Description,https://res.cloudinary.com/dlbbsdd3a/image/upl...,https://www.youtube.com/watch?v=NH9yuZUrJVc,583201,1,2024-06-09 16:12:36.449,2024-06-12 11:34:11.738,NaN
3,4,Video Title,Video Description,https://res.cloudinary.com/dlbbsdd3a/image/upl...,https://www.youtube.com/watch?v=NH9yuZUrJVc,583201,1,2024-06-09 16:35:25.595,2024-06-12 11:34:11.514,NaN

### Table waste_materials

In [55]:
df_waste_materials = pd.read_csv("data_database/waste_materials.csv")
df_waste_materials.head()

,id,type,created_at,updated_at,deleted_at
0,MTR01,plastik,2024-06-06 17:40:10.010,2024-06-06 17:40:10.010,NaN
1,MTR02,kaca,2024-06-06 17:40:10.014,2024-06-06 17:40:10.014,NaN
2,MTR03,kayu,2024-06-06 17:40:10.019,2024-06-06 17:40:10.019,NaN
3,MTR04,kertas,2024-06-06 17:40:10.024,2024-06-06 17:40:10.024,NaN
4,MTR05,baterai,2024-06-06 17:40:10.028,2024-06-06 17:40:10.028,NaN

# TRANSFORM

# LOAD

## Load to Google Cloud Storage

## Load to Big Query

In [3]:
import os
from dotenv import load_dotenv
from google.cloud import bigquery

# Load environment variables from .env file
load_dotenv()

# Path to the JSON key file
key_path = os.getenv('GOOGLE_APPLICATION_CREDENTIALS')

# Ensure key_path is correctly loaded
if not key_path:
    raise ValueError("GOOGLE_APPLICATION_CREDENTIALS key path not found. Please check your .env file and environment variables.")

# Set the Google Cloud credentials
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = key_path

# BigQuery client
client = bigquery.Client()

# Define the existing dataset name
dataset_name = 'data_recything'

# Folder containing the CSV files
data_folder = 'data_dummy'

# List of CSV files
csv_files = [
    'admins.csv', 'categories.csv', 'contents.csv', 'fact_challange.csv',
    'fact_conten.csv', 'fact_reporting.csv', 'location_reports.csv', 'reports.csv',
    'task_challange.csv', 'task_steps.csv', 'task_users_challange.csv', 'users.csv',
    'waste_materials.csv'
]

# Function to load CSV file into BigQuery
def load_csv_to_bigquery(file_name):
    file_path = os.path.join(data_folder, file_name)
    table_name = file_name.replace('.csv', '')
    
    # Load the CSV file into a pandas DataFrame
    df = pd.read_csv(file_path)
    
    # Define the table ID
    table_id = f"{client.project}.{dataset_name}.{table_name}"
    
    # Load DataFrame to BigQuery table
    job = client.load_table_from_dataframe(df, table_id)
    job.result()  # Wait for the job to complete
    
    print(f"Loaded {file_name} into {table_id}")

# Load each CSV file into BigQuery
for csv_file in csv_files:
    load_csv_to_bigquery(csv_file)
print("Data successfully uploaded")

Loaded admins.csv into recything-project.data_recything.admins
Loaded categories.csv into recything-project.data_recything.categories
Loaded contents.csv into recything-project.data_recything.contents
Loaded fact_challange.csv into recything-project.data_recything.fact_challange
Loaded fact_conten.csv into recything-project.data_recything.fact_conten
Loaded fact_reporting.csv into recything-project.data_recything.fact_reporting
Loaded location_reports.csv into recything-project.data_recything.location_reports
Loaded reports.csv into recything-project.data_recything.reports
Loaded task_challange.csv into recything-project.data_recything.task_challange
Loaded task_steps.csv into recything-project.data_recything.task_steps
Loaded task_users_challange.csv into recything-project.data_recything.task_users_challange
Loaded users.csv into recything-project.data_recything.users
Loaded waste_materials.csv into recything-project.data_recything.waste_materials
Data successfully uploaded

# VISUALIZATION